body {
	margin: 0;
}
#page-wrapper {
	margin: 8px;
}

h1 {
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 5px;
}

.input-row {
	margin: 20px;
}

.major-label {
	font-weight: bold;
	font-size: 1.5em;
}
.minor-label {
	font-weight: bold;
}

.input-row-section {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
.input-row-section-left {
	border-right-width: 2px;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
.input-row-section-right {
	border-left-width: 2px;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

input {
	padding: 3px;
}
select {
	padding: 3px;
}
input.ng-invalid {
	background-color: LightCoral;
}

button {
	padding: 5px;
	font-weight: bold;
}

#generate-button {
	padding: 10px;
	font-size: 1.3em;
}
#loading-message {
	font-size: 1.3em;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	padding-left: 20px;
	color: DarkGreen;
}

#poetry-wrapper {
	padding: 20px;
	border: 3px inset;
}
.poetry-line {
	font-size: 1.5em;
	font-family: monospace;
}
#spotify-wrapper {
	margin-top: 5px;
}

#error-bar {
	background-color: LightCoral;
	font-weight: bold;
	font-family: sans-serif;
	padding: 10px;
	border: ridge;
	border-color: red;
}
#error-label {
	color: DarkRed;
}
#error-button {
	float: right;
}