<!doctype html>

<html lang="en" ng-app="GeoPoetryApp">
<head>
	<meta charset="utf-8">

	<title>Geo-Poetry Demo</title>
	<meta name="description" content="The Geo-Poetry E-Lit Project">

	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="fcsaNumber.js"></script>
	<script type="text/javascript" src="demo.js"></script>

	<link href="demo.css" rel="stylesheet" type="text/css"></link>
</head>

<body ng-controller="GeoPoetryController">

	<div id="error-bar" ng-show="error_message">
		<span id="error-label">ERROR:&nbsp;</span>
		<span>{{error_message}}</span>
		<button id="error-button" ng-click="error_message = ''">close</button><!-- TODO Icons -->
	</div>

<div id="page-wrapper">
	<h1>Options</h1>
	<div>
		<form>
			<div class="input-row">
				<label class="major-label">Location:</label>
				<span class="input-row-section input-row-section-left">
					<input type="radio" ng-model="use_browser_gps" value="Y" ng-change="refreshGPS()">Use Current Location</input>
				</span>
				<span class="input-row-section input-row-section-right">
					<input type="radio" ng-model="use_browser_gps" value="N">Manually Enter</input>
					<label class="minor-label">Latitude</label>
					<input type="text" fcsa-number="{ min: -90, max: 90 }"
						ng-model="latitude" ng-disabled="use_browser_gps == 'Y'"></input>
					<label class="minor-label">Longitude</label>
					<input type="text" fcsa-number="{ min: -180, max: 180 }"
						ng-model="longitude" ng-disabled="use_browser_gps == 'Y'"></input>
				</span>
				<label class="minor-label">Radius</label>
				<input type="text" fcsa-number="{ min: 0 }" ng-model="radius"></input>
				<input type="radio" ng-model="radius_units" value="km">km</input>
				<input type="radio" ng-model="radius_units" value="mi">mi</input>
			</div>
			<div class="input-row">
				<label class="major-label">Music Genre:</label>
				<select ng-model="selected_genre">
					<option>-</option> <!-- unselected option -->
					<option ng-repeat="genre in genres">{{genre}}</option>
				</select>
				<button ng-click="refreshGenreList()">Refresh List</button>
			</div>
			<div class="input-row">
				<label class="major-label">Song Energy:</label>
				<span class="input-row-section input-row-section-left">
					<input type="radio" ng-model="use_energy_function" value="Y" ng-change="resetEnergyFunction()">
						Follow Sine Wave</input>
					<label class="minor-label">Period (no. of requests)</label>
					<input type="text" ng-model="energy_wave_period" fcsa-number="{ min: 1, maxDigits: 0 }"
						ng-disabled="use_energy_function == 'N'" ng-change="resetEnergyFunction()"></input>
				</span>
				<span class="input-row-section input-row-section-right">
					<input type="radio" ng-model="use_energy_function" value="N">Manually Enter</input>
					<input type="text" ng-model="energy" fcsa-number="{ min: 0, max: 1 }"
						ng-disabled="use_energy_function == 'Y'"></input>
				</span>
			</div>
			<div>
				<button ng-click="submitForm()" id="generate-button">Generate Poetry!</button>
				<span ng-show="poetry_loading" id="loading-message">Loading...</span>
			</div>
		</form>
	</div>

	<hr />

	<h1>Results</h1>
	<div>
		<div id="poetry-wrapper">
			<span ng-repeat="line in poetry_lines" class="poetry-line">{{line}}<br /></span>
		</div>
		<div id="spotify-wrapper" ng-if="spotify_embed_url">
			<iframe ng-src="{{spotify_embed_url}}" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>
</div>
</body>
</html>